*{
	font-family: arial;
}

body a{
	color:black;
	text-decoration: none;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;

}
body a:hover{
	background-color: blue;
	color:#fff;
}
div a{
	justify-content:center;
}
